<footer>
            <figure>
                <img src="img/footer.png" alt="CSUMB" />
            </figure>
            <p>
                CST336 Internet Programming. 2019 Orduna. <br />
                Information on this webpage is fictitious and for academic use only.
            </p>
        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>