<% include partials/header.ejs %> 

        <main>
            <div>
                <h4><i>Cryptography</i></h4>
                    <p>
                        The component of communications security from modifying
                        and altering data, media or other,
                        and their proper use. This includes ensuring 
                        message confidentiality and authenticity by using identification
                        keys.
                        <br /><a href="https://searchcompliance.techtarget.com/definition/COMSEC-communications-security">source</a> <br />

                   </p>
                    <br /><br />
                    <p>
                        Source provided by:
                    </p>
                    <br />
            </div>
            <figure>
                <img src="img/cr.jpg" width="350" height="171" alt="Computer sci" />
            </figure>
            
        </main>
        
 <% include partials/footer.ejs %>