<% include partials/header.ejs %> 

        <main>
            <div>
                <h4><i>Transmission Security</i></h4>
                    <p>
                        Transmission security (TRANSEC) is the component of 
                        communications security (COMSEC) that results from the 
                        application of measures designed to protect 
                        transmissions from interception and exploitation by 
                        means other than cryptanalysis. Goals of transmission 
                        security include:
                    </p>
                     <div id="content">
                    <ul>
                        <li><span class="hobby">LPI</span>: Low Probability of Interception</li>
                        <li><span class="hobby">LPD</span>: Low Probability of Detection</li>
                        <li><span class="hobby">Antijam</span>: Resistance to Jamming</li>
                    </ul>
                    <br /><a href="https://searchcompliance.techtarget.com/definition/COMSEC-communications-security">source</a> <br />

                    </div>
                    <br /><br />
                    <p>
                        Source provided by: <%= randomName %>
                    </p>
                    <br />
                    
            </div>
            <figure>
                <img src="img/network.jpg" width="350" height="171" alt="Computer sci" />
            </figure>
            
        </main>
        
<% include partials/footer.ejs %>