<% include partials/header.ejs %> 

        <main>
            <div>
                <h4><i>Computer Security</i></h4>
                    <p>
                        Computer Security focuses on countermeasures based on 
                        actions, products, devices or techniques that reduce 
                        threats, vulnerabilities or attacks by lowering the risks,
                        discovering and reporting the vulnerabilities and 
                        eliminating the threats imposed. <br />
                        This can be achieved via secure coding, keeping software
                        up to date, training users, and keeping a good response
                        protocol to any attack.<br /><a href="https://searchcompliance.techtarget.com/definition/COMSEC-communications-security">source</a> <br />
                        
                   </p>
                    <br /><br />
                    <p>
                        Source provided by: <%= randomName %>
                    </p>
                    <br />
            </div>
            <figure>
                <img src="img/asd.jpg" width="350" height="171" alt="Computer sci" />
            </figure>
            
        
        </main>
        
<% include partials/footer.ejs %>